@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,700;1,400&display=swap");

:root {
  --main: #9bb9bf;
  --mainLight: #d9d3c1;
  --mainDark: #025949;
  --accentLight: #bf9775;
  --accentDark: #8c634a;
  --mainFont: "Lora", serif;
  --secondaryFont: "Bodoni 72 Smallcaps";
}

* {
  margin: 0px;
  padding: 0px;
  font-family: var(--mainFont);
  color: var(--mainDark);
}

body {
  background-color: var(--mainDark);
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex-direction: column;
}

article {
  display: flex;
  background-color: var(--mainDark);
}

header {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 10vw;
  max-height: 80px;
  min-height: 50px;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--main);
  color: var(--mainDark);
}
.headershowmenu {
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.headertop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 5em;
}

.menulinks {
  width: 100%;
  padding-top: 2em;
  padding-bottom: 2em;
  background-color: var(--main);
  display: none;
  flex-direction: column;
  position: relative;
  align-self: center;
}

.menurolldown {
  display: flex;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.menulink {
  margin: 2em;
  font-size: 1.5em;
}

.menubutton {
  display: flex;
}
.menubuttonimg {
  display: flex;
  height: 10vw;
  max-height: 80px;
  min-height: 50px;
}

footer {
  display: flex;
  background-color: var(--main);
  height: 90px;
  width: 100%;
  position: relative;
  justify-content: space-around;
  align-items: center;
}

.copywrite {
  display: none;
}

.social {
  display: flex;
  justify-content: space-around;
  width: 70%;
}

.footericon {
  max-width: 20%;
  max-width: 2.5em;
  
}

h1 {
  font-family: var(--secondaryFont);
  font-size: 3em;
  margin-bottom: 0.5em;
}

h2 {
  font-family: var(--secondaryFont);
  font-size: 1.4em;
  margin-bottom: 1.5em;
}

#headerh2 {
  margin-bottom: 0px;
}

h3 {
  font-family: var(--secondaryFont);
  font-size: 1.2em;
  margin-bottom: 1em;
}

p {
  max-width: 80ch;
  font-size: 1em;
  margin-bottom: 1.5em;
}

fieldset {
  justify-content: center;
  max-width: 50em;
  padding: 1em;
  margin-bottom: 2em;
}

fieldset *{
  margin: 0.3em;
}

textarea {
  width: 100%;
}

nav {
  display: flex;
  align-items: center;
}

.logo {
  justify-self: flex-start;
  max-height: 100%;
}

.suitearticleleft {
  background-color: var(--accentLight);
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.suitearticleright {
  background-color: var(--mainLight);
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.suiteimg {
  width: 100%;
  border: var(--mainDark);
  border-width: 0px;
  border-style: solid;
}
.suitetextbox {
  color: var(--mainDark);
  padding: 50px;
}

.heroimage {
  object-fit: cover;
  justify-self: center;
  overflow: clip;
  width: 100%;
  min-height: 300px;
  max-height: 90%;
}

hero {
  background-color: var(--main);
  display: flex;
  justify-content: center;
  align-items: center;
}

#herotext {
  justify-self: center;
  text-align: center;
  align-self: center;
  position: absolute;
  border-radius: 20px;
  width: 80%;
  border-width: 5px;
  background-color: #d9d3c185;
  color: var(--mainDark);
}

.alterntetextcolor {
  color: var(--mainLight);
}

.contenttopbox {
  color: var(--mainLight);
  background-color: var(--mainDark);
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  margin-top: 3em;
  margin-bottom: 3em;
}

.upbuttonsquare {
  background-color: 00;
  height: 4.8em;
  width: 4.8em;
  position: fixed;
  bottom: 0em;
  right: 0;
}

.upbutton {
  height: 5em;
  width: 5em;
}

.upbuttonreservedspace {
  justify-self: flex-end;
  width: 3.5em;
  height: 60px;
}

.homepagesuitefigure {
  text-align: center;
  width: 90%;
  margin: 2em;
}

.homepagesuiteimg {
  margin-bottom: 1em;
  max-width: 100%;
}

#homepagesuites {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#homepagelinks {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5em;
}

#mainpagevideo {
  max-width: 1280px;
}

#contacth1 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 30px;
  color: var(--mainLight);
}

#contactinfo {
  display: flex;
  justify-content: center;
  background-color: var(--mainLight);
  padding: 5em;
}

#contactinfo h2 {
  text-align: center;
}

form {
  min-width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#contactform {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  background-color: var(--accentLight);
  padding: 3em;
}

#contactform h2 {
  text-align: center;
}

#responsemessage {
  align-self: center;
}

#messagesentblock {
  display: none;
  flex-direction: column;
}

#resetformbutton {
  width: 10em;
  align-self: center;
}




@media screen and (min-width: 400px) {
  h1 {
    font-size: 4em;
  }

  h2 {
    font-size: 1.6em;
  }

  h3 {
    font-size: 1.3em;
  }

  p {
    font-size: 1em;
  }
}

@media screen and (min-width: 800px) {
  h1 {
    font-size: 5em;
  }
  h2 {
    font-size: 2em;
  }

  h3 {
    font-size: 1.6em;
  }

  .headershowmenu {
    display: flex;
    flex-direction: row;
  }

  .menulinks {
    position: relative;
    padding: 0;
    width: 55%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    top: auto;
    right: auto;
  }

  .menulink {
    margin: 0;
  }

  .menubutton {
    display: none;
  }

  .headertop {
    width: 50%;
    justify-content: space-around;
  }

  .homepagesuitefigure {
    width: 25%;
  }

  #homepagesuites {
    width: 100vw;
    flex-direction: row;
  }

  .suitearticleleft {
    flex-direction: row;
    width: 100%;
  }

  .suitearticleright {
    background-color: var(--accentLight);
    flex-direction: row-reverse;
    width: 100%;
  }

  .suiteimg {
    height: 100%;
    max-height: 46vw;
    width: 50%;
  }
  .suitetextbox {
  }

  .copywrite {
  display: block;
  }
  #mainpagevideo {
    margin: 30px;
  }
}

#toggleoff {
  display: none;
}
